---
const API_URL = "https://ks.valocg.xyz/wp-json/api/menu";

const res = await fetch(API_URL);
const menus = await res.json();

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname;
---

<!-- loop through menus -->
<nav class="h-screen self-start font-titillium  md:w-96 sticky top-0">
    <ul class="menu flex flex-col gap-1 pt-5 pr-4 h-full overflow-y-scroll flex-nowrap hide-scrollbar">
        {
            menus.map((menu) => (
                <li>
                    <a
                        class={currentPath.includes(menu.url) ? "active" : ""}
                        href={menu.url}
                    >
                        {menu.title}
                    </a>
                    {
                        Array.isArray(menu.children) && menu.children.length > 0 && (
                            <ul class="submenu flex flex-col gap-1 pt-1">
                                {
                                    menu.children.map((child) => (
                                        <li>
                                            <a
                                                class={currentPath.includes(child.url) ? "active" : ""}
                                                href={child.url}
                                            >
                                                {child.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        )
                    }
                </li>
            ))
        }
        
    </ul>
</nav>
