---
import "../../styles.css";
import "@fontsource/amiri";
import "@fontsource-variable/lora";
import "@fontsource-variable/montserrat";
import "@fontsource/titillium-web";

import DalilTable from "../../components/DalilTable.astro";
import DalilList from "../../components/DalilList.astro";

const API_URL = "https://admin.mediakautsar.com/wp-json/api/dalil";
// FETCH DATA
const res = await fetch(API_URL);
const data = await res.json();
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dalils</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
        />
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            type="text/javascript"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
        ></script>
    </head>

    <body class="">
        
        <div class="hidden md:block">
            <DalilTable data={data} />
        </div>
        <div class="block md:hidden">
            <DalilList data={data} />
        </div>
        
        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="viewModal" class="modal-toggle" />
        <div class="modal" id="dalilModal" role="dialog">
            <div class="modal-box w-[80vw] h-[80vh] max-w-[1400px] max-h-none">
                <label
                    for="viewModal"
                    class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                    >✕</label
                >
                <iframe src="/dalil/615" frameborder="0" class="w-full h-full"
                ></iframe>
            </div>
            <label class="modal-backdrop" for="viewModal">Close</label>
        </div>
    </body>
</html>
