.prose :where(blockquote p:first-of-type):not( :where([class~="not-prose"], [class~="not-prose"] *))::before {
    content: none !important;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-style: normal !important;
    /* font-size: 1.25rem !important; */
    /* font-family: 'Amiri', sans-serif !important; */

}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))>cite{
    font-style: italic !important;
    font-weight: normal !important;
    font-size: .75rem !important;
}

/* last child of blockquite in prose */
.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))>:nth-last-child(2){
    margin-bottom: 0 !important;
}

*{
    scroll-behavior: smooth !important;
}

.wp-block-embed-youtube iframe{
    width: 100% !important;
    aspect-ratio: 16/9;
    height: auto !important;
}

.prose h2{
    @apply text-3xl font-bold mb-4 border-b-[1px] border-base-content/30 pb-3;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
}

*,
.hide-scrollbar{
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}
.h-content{
    height: calc(100vh - 4rem);
}
@media screen and (min-width: 768px){
    
    
}